@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-slate-100 font-sans text-slate-900 antialiased;
  }

  #root {
    @apply min-h-screen;
  }
}
